-@ranks.each do |rank|
  .flex__show__wrapper
    .flex__show__wrapper__img
      = image_tag rank.image_1.url, class: "flex__show__wrapper__img__background" if rank.image_1.url.present?
    .flex__show__wrapper__right
      .flex__show__wrapper__right__wrapper
        .flex__show__wrapper__right__wrapper__title
          = link_to rank_path(rank.id) do
            = rank.title
        .flex__show__wrapper__right__wrapper__time
          = rank.created_at
        .flex__show__wrapper__right__wrapper__tag
          - if rank.tags.present?
            = icon('fas', 'tag')
          - rank.tags.each do |tag|
            = link_to tag_path(rank.tag_ids), class: "icon-tag" do
              = tag.name  
      .flex__show__wrapper__right__wrapper__like   
        = icon('fas', 'heart')
        = Like.where(rank_id: rank).count


