.main
  .flex
    .flex__left
      .flex__left__title
        - if user_signed_in? && current_user.id == @user.id
          = link_to edit_user_registration_path(current_user) do
            %p ユーザー編集
        -else
          %p 投稿者
      .flex__left__wrapper
        .flex__left__wrapper__icon
          - if @user.image.url.present?
            = image_tag asset_path("#{@user.image}", class: "icon__img")
          - else
            = image_tag ('default.png'), class: "icon__img"
        .flex__left__wrapper__name 
          = link_to user_path(@user.id) do
            = @user.nickname.truncate(15)
        .flex__left__wrapper__info
          = @user.profile.truncate(60)
        .flex__left__wrapper__message
          = icon('fas', 'user-friends')
          %p フォローする

    .flex__show
      = render "show"