.smain
  .smain__flex
    .smain__flex__left
      .smain__flex__left__title
        -if user_signed_in?
          = link_to "#", class: "smain__flex__left__title" do
            %p Edit_User_Profile
        -else
          %p Editer_Profile
      .smain__flex__left__wrapper
        .smain__flex__left__wrapper__icon
          = link_to "#" do
            = image_tag @user.image, class: "smain__flex__left__wrapper__icon__img" if @user.image.present?
        .smain__flex__left__wrapper__name 
          = @user.nickname
        .smain__flex__left__wrapper__info
          = @user.profile
        .smain__flex__left__wrapper__message
          = icon('fas', 'user-friends')
        %p.smain__flex__left__wrapper__text Follow me!

    .smain__flex__right
      .smain__flex__right__title
        投稿ランキング一覧
      = render "show"

