.main
  .flex
    .flex__left
      .flex__left__title
        - if user_signed_in? && current_user.id == @user.id
          = link_to edit_user_registration_path(current_user) do
            %p ユーザー編集
        -else
          %p 投稿者
      .flex__left__wrapper
        .flex__left__wrapper__icon
          .flex__left__wrapper__icon__background
            = image_tag @user.image, class: "icon__img" if @user.image.present?
        .flex__left__wrapper__name 
          = link_to user_path(@user.id) do
            = @user.nickname
        .flex__left__wrapper__info
          = @user.profile
        .flex__left__wrapper__message
          = icon('fas', 'user-friends')
          %p フォローする

    .flex__show
      = render "show"