.smain
  .smain__flex
    .smain__flex__left
      .smain__flex__left__title
        - if user_signed_in? && current_user.id == @user.id
          = link_to "#", class: "smain__flex__left__title" do
            %p ユーザー編集
        - else
          %p 投稿者
      .smain__flex__left__wrapper
        .smain__flex__left__wrapper__icon
          .smain__flex__left__wrapper__icon__background
          = link_to user_path(@user) do
            = image_tag @user.image, class: "smain__flex__left__wrapper__icon__img" if @user.image.present?
        .smain__flex__left__wrapper__name 
          = @user.nickname
        .smain__flex__left__wrapper__info
          = @user.profile
        .smain__flex__left__wrapper__message
          = icon('fas', 'user-friends')
        %p.smain__flex__left__wrapper__text Follow
    .smain__flex__show
      = render "show"