.main__wrapper
  .main__wrapper__icon
    - if rank.user.image.url.present?
      = image_tag("#{rank.user.image}", class: "icon__img")
    - else
      = image_tag ('default.png'), class: "icon__img"
  .main__wrapper__name
    = link_to user_path(rank.user.id) do
      = rank.user.nickname.truncate(15)
  .main__wrapper__profile
    = rank.user.profile.truncate(40)
  .main__wrapper__title
    = link_to rank_path(rank.id) do
      = rank.title.truncate(15)
  .main__wrapper__like
    = icon('fas', 'heart')
    = Like.where(rank_id: rank).count
  .main__wrapper__tag
    - if rank.tags.present?
      = icon('fas', 'tag')
    - rank.tags.each do |tag|
      = link_to tag_path(rank.tag_ids), class: "icon-tag" do
        = tag.name
  .main__wrapper__img
    = image_tag rank.image_1.url, class: "rank__img" if rank.image_1.url.present?