.main__wrapper
  .main__wrapper__icon
    .main__wrapper__icon__background
    = image_tag rank.user.image, class: "main__wrapper__icon__img" if rank.user.image.present?
  .main__wrapper__name
    = link_to user_path(rank.user.id), class: "main__wrapper__name" do
      = rank.user.nickname
  .main__wrapper__info 
    = rank.user.profile
  .main__wrapper__title
    = link_to rank_path(rank.id) do
      %p.main__wrapper__title__text
        = rank.title
    .main__wrapper__title__like
      = icon('fas', 'heart')
      &nbsp
      = Like.where(rank_id: rank).count

    .main__wrapper__title__tag
      = icon('fas', 'tag')
      %p
        &nbsp
        - rank.tags.each do |tag|
          = link_to tag_path(rank.tag_ids), class: "icon-tag" do
            = tag.name