.flex
  .flex__left
    .flex__left__title
      - if user_signed_in? && current_user.id == @rank.user_id
        = link_to edit_user_registration_path(current_user) do
          %p ユーザー編集
      -else
        %p 投稿者
    .flex__left__wrapper
      .flex__left__wrapper__icon
        .flex__left__wrapper__icon__background
          = image_tag @rank.user.image, class: "icon__img" if @rank.user.image.present?
      .flex__left__wrapper__name 
        = link_to user_path(@rank.user.id) do
          = @rank.user.nickname
      .flex__left__wrapper__info
        = @rank.user.profile
      .flex__left__wrapper__message
        = icon('fas', 'user-friends')
        %p フォローする

  .flex__right
    .flex__right__rank
      .flex__right__rank__list--content-1
        .flex__right__rank__list--content-1--img
      .flex__right__rank__list--content-2
        .flex__right__rank__list--content-2--img
      .flex__right__rank__list--content-3
        .flex__right__rank__list--content-3--img
    .flex__right__img
      .flex__right__img__list--content-1
        = image_tag @rank.image_1.url, class: "rank__img" if @rank.image_1.url.present?
      .flex__right__img__list--content-2
        = image_tag @rank.image_2.url, class: "rank__img" if @rank.image_2.url.present?
      .flex__right__img__list--content-3
        = image_tag @rank.image_3.url, class: "rank__img" if @rank.image_3.url.present?
    .flex__right__content
      .flex__right__content__wrapper{"data-rank" => "content-1"}
        = @rank.rank_1
        %a.content{"data-target" => "content-1"}
          = icon('fas', 'chevron-down')
      .flex__right__content__wrapper__list
        #content-1
          = @rank.content_1
      .flex__right__content__wrapper{"data-rank" => "content-2"}
        = @rank.rank_2
        %a.content{"data-target" => "content-2"}
          = icon('fas', 'chevron-down')
      .flex__right__content__wrapper__list
        #content-2
          = @rank.content_2
      .flex__right__content__wrapper{"data-rank" => "content-3"}
        = @rank.rank_3
        %a.content{"data-target" => "content-3"}
          = icon('fas', 'chevron-down')
      .flex__right__content__wrapper__list
        #content-3
          = @rank.content_3