.smain__flex

  .smain__flex__left
    .smain__flex__left__title
      -if user_signed_in?
        = link_to "#", class: "smain__flex__left__title" do
          %p Edit_User_Profile
      -else
        %p Editer_Profile
    .smain__flex__left__wrapper
      .smain__flex__left__wrapper__icon
        = link_to "#" do
          = image_tag @rank.user.image, class: "smain__flex__left__wrapper__icon__img" if @rank.user.image.present?
      .smain__flex__left__wrapper__name 
        = @rank.user.nickname
      .smain__flex__left__wrapper__info
        = @rank.user.profile
      .smain__flex__left__wrapper__message
        = icon('fas', 'user-friends')
      %p.smain__flex__left__wrapper__text Follow me!

  .smain__flex__right
    .smain__flex__right__rank
      .smain__flex__right__rank__list--content-1
        %img{src: "/assets/1.png"}
      .smain__flex__right__rank__list--content-2
        %img{src: "/assets/2.png"}
      .smain__flex__right__rank__list--content-3
        %img{src: "/assets/3.png"}
    .smain__flex__right__img
      .smain__flex__right__img__list--content-1
        %img{class: "rank__img", src: "https://theriver.jp/wp-content/uploads/2019/08/SW9_Teaser2_1-Sht_v5_Lg-1024x1516.jpg"}
      .smain__flex__right__img__list--content-2
        %img{class: "rank__img", src: "https://theriver.jp/wp-content/uploads/2019/08/SW9_Teaser2_1-Sht_v5_Lg-1024x1516.jpg"}
      .smain__flex__right__img__list--content-3
        %img{class: "rank__img", src: "https://theriver.jp/wp-content/uploads/2019/08/SW9_Teaser2_1-Sht_v5_Lg-1024x1516.jpg"}
    .smain__flex__right__content
      .smain__flex__right__content__wrapper{"data-rank" => "content-1"}
        = @rank.rank_1
        %a.content{"data-target" => "content-1"}
          = icon('fas', 'chevron-down')
      .smain__flex__right__content__wrapper__list
        #content-1
          = @rank.content_1

      .smain__flex__right__content__wrapper{"data-rank" => "content-2"}
        = @rank.rank_2
        %a.content{"data-target" => "content-2"}
          = icon('fas', 'chevron-down')
      .smain__flex__right__content__wrapper__list
        #content-2
          = @rank.content_2

      .smain__flex__right__content__wrapper{"data-rank" => "content-3"}
        = @rank.rank_3
        %a.content{"data-target" => "content-3"}
          = icon('fas', 'chevron-down')
      .smain__flex__right__content__wrapper__list
        #content-3
          = @rank.content_3