.header
  .header__logo    
    = link_to "/", class: "header__logo__text" do
      %h1 YourRank
  .header__search
    .header__search__form
    .header__search__btn
      %p 検索

  .header__right
    .header__right__post 
      %p 投稿
    .header__right__mypage
      %p  マイページ
    .header__right__logout
      %p  ログアウト

.main
  .main__1
    .main__1__box
      .main__1__box__icon
        = link_to "#" do
          %img{class: "main__1__box__icon__img", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT1MoYZU-GvyLMba7zlyOCJSRUsIhpCdJWcivyHjEjK5QpZwJXE"}
      .main__1__box__icon__name 高橋
      .main__1__box__icon__info 年間100本の映画を見る映画マニア</br>好きなジャンルはSFです！</br>参考になれば嬉しいです！
      .main__1__box__title
        = link_to "/ranks/show", class: "main__1__box__title__text" do
          『2019年公開映画』TOP3
        = link_to "#", class: "main__1__box__title__icon" do
          = icon('fas', 'heart')
          .main__1__box__title__like _50 
        = link_to "#", class: "main__1__box__title__tag" do
          = icon('fas', 'tag')
          .main__1__box__title__like _映画
    .main__1__box
      .main__1__box__icon
        = link_to "#" do
          %img{class: "main__1__box__icon__img", src: "https://storage.tenki.jp/storage/static-images/suppl/article/image/2/27/279/27937/1/large.jpg"}
      .main__1__box__icon__name てんてん
      .main__1__box__icon__info 中国からの留学生</br>中国のおすすめスポットや料理を紹介します！
      .main__1__box__title
        = link_to "#", class: "main__1__box__title__text" do
          『北京の観光地』TOP3
        = link_to "#", class: "main__1__box__title__icon" do
          = icon('fas', 'heart')
          .main__1__box__title__like _32 
        = link_to "#", class: "main__1__box__title__tag" do
          = icon('fas', 'tag')
          .main__1__box__title__like _旅行 海外
    .main__1__box
      .main__1__box__icon
        = link_to "#" do
          %img{class: "main__1__box__icon__img", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT1MoYZU-GvyLMba7zlyOCJSRUsIhpCdJWcivyHjEjK5QpZwJXE"}
      .main__1__box__icon__name takahashi
      .main__1__box__icon__info 年間100本の映画を見る映画マニア</br>好きなジャンルはSFです！</br>参考になれば嬉しいです！
      .main__1__box__title
        = link_to "#", class: "main__1__box__title__text" do
          『2019年公開映画』TOP3
        = link_to "#", class: "main__1__box__title__icon" do
          = icon('fas', 'heart')
          .main__1__box__title__like _50 
        = link_to "#", class: "main__1__box__title__tag" do
          = icon('fas', 'tag')
          .main__1__box__title__like _映画
    .main__1__box
      .main__1__box__icon
        = link_to "#" do
          %img{class: "main__1__box__icon__img", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT1MoYZU-GvyLMba7zlyOCJSRUsIhpCdJWcivyHjEjK5QpZwJXE"}
      .main__1__box__icon__name takahashi
      .main__1__box__icon__info 年間100本の映画を見る映画マニア</br>好きなジャンルはSFです！</br>参考になれば嬉しいです！
      .main__1__box__title
        = link_to "#", class: "main__1__box__title__text" do
          『2019年公開映画』TOP3
        = link_to "#", class: "main__1__box__title__icon" do
          = icon('fas', 'heart')
          .main__1__box__title__like _50 
        = link_to "#", class: "main__1__box__title__tag" do
          = icon('fas', 'tag')
          .main__1__box__title__like _映画

.footer
  ©️ 2019 Shunsuke_Takahashi
