.main
  .main__content
    = form_with model: @rank, class: :form, local: true do |f|

      .form__message ランキングの作成
      %p#index-title タイトル (25文字まで)
      = f.text_field :title, placeholder: "タイトルを入力", class: "form__title"
      .form__border
      %p#index-rank １位 (30文字まで)
      = f.text_field :rank_1, placeholder: "１位を入力", class: "form__rank", data: {rank: "1"}
      %p#index-detail 概要 (240文字まで)
      = f.text_area :content_1, placeholder: "概要を入力", class: "form__content"
      .form__border
      %p#index-rank ２位 (30文字まで)
      = f.text_field :rank_2, placeholder: "2位を入力", class: "form__rank", data: {rank: "2"}
      %p#index-detail 概要 (240文字まで)
      = f.text_area :content_2, placeholder: "概要を入力", class: "form__content"
      .form__border
      %p#index-rank ３位 (30文字まで)
      = f.text_field :rank_3, placeholder: "3位を入力", class: "form__rank", data: {rank: "3"}
      %p#index-detail 概要 (240文字まで)
      = f.text_area :content_3, placeholder: "概要を入力", class: "form__content"
      .form__border

      .form__image
        .form__image__wrapper{data:{index: "1"}}
          %p#index-image-1 画像
          = f.label :image_1, for: "rank-image-1", class: "form__image__wrapper__zone-1" do
            = f.file_field :image_1, id: "rank-image-1"
            %p.hidden-1 1位に関する画像を投稿
            %i.fa.fa-camera-retro.hidden-1
          .form__image__wrapper__btn
            #delete-1 削除

        .form__image__wrapper{data:{index: "2"}}
          %p#index-image-2 画像
          = f.label :image_2, for: "rank-image-2", class: "form__image__wrapper__zone-2" do
            = f.file_field :image_2, id: "rank-image-2"
            %p.hidden-2 2位に関する画像を投稿
            %i.fa.fa-camera-retro.hidden-2
          .form__image__wrapper__btn
            #delete-2 削除

        .form__image__wrapper{data:{index: "3"}}
          %p#index-image-3 画像
          = f.label :image_3, for: "rank-image-3", class: "form__image__wrapper__zone-3" do
            = f.file_field :image_3, id: "rank-image-3"
            %p.hidden-3 3位に関する画像を投稿
            %i.fa.fa-camera-retro.hidden-3
          .form__image__wrapper__btn
            #delete-3 削除
      .form__border

      %p#index-tag タグ（1つまで）
      .form__tag
        .form__tag__wrapper
          = f.collection_check_boxes :tag_ids, Tag.all, :id, :name
      .form__btn
        = f.submit "ランキングを投稿", class: "create__btn"

