.smain
  .smain__title

    .smain__title__edit
      = link_to edit_rank_path(@rank), class: "smain__title__edit__btn" do
        Edit
    .smain__title__delete
      = link_to rank_path(@rank), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "smain__title__edit__btn" do
        削除
    .smain__title__text
      =@rank.title

    .smain__title__tag
      = link_to new_tag_path, class: "header__logo__text" do
        %p New_tag

    .smain__title__tag
      = link_to tag_path(@rank.tag_ids), class: "main__wrapper__title__flex" do
        = icon('fas', 'tag')
        _
        - @rank.tags.each do |tag|
          = tag.name
    .smain__title__like
      - if Like.find_by(user_id: current_user.id, rank_id: @rank.id) 
        = link_to rank_like_path(@rank), method: :delete, class: "to-unlike" do
          = icon('fas', 'heart')
      - else 
        = link_to rank_likes_path(@rank), method: :post, class: "to-like" do
          = icon('fas', 'heart')
      = @likes_count

  = render 'show'

  .comment
    .comment__title
      %p comment 
    .comment__flex
      .comment__flex__message  
        = image_tag current_user.image, class: "comment__flex__message__icon" if current_user.image.present?
      -if current_user
        = form_with model: [@rank, @comment], class: :comment__flex__form, local: true do |form|
          = form.text_field :content, placeholder: "comment", class: "comment__flex__form__content", rows: "2"
          = form.submit "作成", class: "comment__flex__form__btn"  
      -else
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

    -@comments.each do |comment|

      .comment__content
        .comment__content__icon
          .comment__content__icon__background
            = link_to user_path(comment.user) do
              = image_tag comment.user.image, class: "comment__content__icon__background__img" if comment.user.image.present?
        .comment__content__wrapper
          .comment__content__wrapper__name
            = comment.user.nickname
          .comment__content__wrapper__text
            = comment.content