.smain
  .smain__title
    =@rank.title

  = render 'show'

  .comment
    .comment__title
      %p comment 
    .comment__flex
      .comment__flex__message  
        = image_tag current_user.image, class: "comment__flex__message__icon" if current_user.image.present?
      -if current_user
        = form_with model: [@rank, @comment], class: :comment__flex__form, local: true do |form|
          = form.text_field :content, placeholder: "comment", class: "comment__flex__form__content", rows: "2"
          = form.submit "作成", class: "comment__flex__form__btn"  
      -else
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

    -@comments.each do |comment|

      .comment__content
        .comment__content__icon
          .comment__content__icon__background
            = link_to user_path(comment.user) do
              = image_tag comment.user.image, class: "comment__content__icon__background__img" if comment.user.image.present?
        .comment__content__wrapper
          .comment__content__wrapper__name
            = comment.user.nickname
          .comment__content__wrapper__text
            = comment.content