!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title YourRank
    = csrf_meta_tags
    = csp_meta_tag
    -# = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .header
      .header__logo    
        = link_to "/", class: "header__logo__text" do
          %h1 YourRank
      .header__search
      .header__search__form    
        =form_with url: search_ranks_path, local: true, method: :get do |f|
          = f.text_field :keyword, id: "user-search-field", class: "header-search-form__input", placeholder: "あなたの気になるランキングを検索"
          = f.submit 'SEARCH'
          .user-search-result

      .header__right
        .header__right__post 
          -if user_signed_in?
            = link_to new_rank_path, class: "header__right__post__link" do
              %p Post
          -else 
            = link_to "#", class: "header__right__mypage__link" do
              %p about YourRank
        .header__right__mypage
          -if user_signed_in?
            = current_user.nickname
          -else 
            = link_to new_user_registration_path, class: "header__right__mypage__link" do
              %p Sign-Up
        .header__right__logout
          -if user_signed_in?
            = link_to destroy_user_session_path, method: :delete, class: "header__right__logout__link" do
              %p Log-Out
          -else 
            = link_to new_user_session_path, class: "header__right__logout__link" do
              %p Sign-In

    = yield

    .footer
      ©️ 2019 Shunsuke_Takahashi
