!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title YourRank
    = csrf_meta_tags
    = csp_meta_tag
    -# = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .header
      .header__wrapper
        .header__wrapper__logo
          = icon('fas', 'crown')
          = link_to "/", class: "header__wrapper__logo__text" do
            %p YourRank
        .header__wrapper__search
          =form_with url: search_ranks_path, local: true, method: :get do |f|
            .header__wrapper__search__form
              .header__wrapper__search__form__input
                = f.text_field :keyword, id: "user-search-field", class: "header-input", placeholder: "ランキングを検索"
              .header__wrapper__search__form__btn
                = f.submit '検索', class: "send-btn"
            .user-search-result

        .header__wrapper__right
          - if user_signed_in?
            .header__wrapper__right__list
              = link_to new_rank_path do
                %p 投稿
            .header__wrapper__right__list
              = link_to user_path(current_user) do
                %p
                  = current_user.nickname.truncate(9)
            .header__wrapper__right__list
              = link_to destroy_user_session_path, method: :delete do
                %p ログアウト
          - else
            .header__wrapper__right__list
            .header__wrapper__right__list
              = link_to new_user_registration_path do
                %p サインアップ
            .header__wrapper__right__list
              = link_to new_user_session_path do
                %p サインイン

      = render 'layouts/notifications'
    = yield

    .footer
      ©️ 2020 Shunsuke_Takahashi
